:root {
  --color-black: #000000;
  --color-darkgray: #444444;
  --color-lightgray: #AAAAAA;
  --color-white: #f6f6f6;
  --color-exwhite: #ffffff;

  --color-orange: #FF7300;
  --color-orange-pale: #FFE2B2;
  --color-green: #178000;
  --color-green-pale: #CCFFC1;
  --color-red: #FF4D00;
  --color-red-pale: #FFC9B2;
  --color-blue: #008CFF;
  --color-blue-pale: #9DD8FF;
  --color-navy: #2444A4;
  --color-navy-pale: #AFC3FF; 

  --color-text: var(--color-black);
  --color-background: var(--color-white);
  --color-line: var(--color-lightgray);
  --color-text-sub: var(--color-darkgray);
  --color-theme: var(--color-orange);
  --color-theme-pale: var(--color-orange-pale);
  --color-trap: var(--color-navy); /* 実際にロゴから色をとってきたわけではない */

  --color-error: #f26451;
  --color-focus: #005bacc0;
}

/* @media (prefers-color-scheme: dark) {
  :root {
  }
} */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: 'M PLUS 1p', "Avenir Next", sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
