.markdown h1 {
  color: var(--color-secondary);
  margin-bottom: 24px;
  border-bottom: 1px solid #f7ae5a;
  padding-top: 0.5em;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.markdown h2 {
  color: #092c57;
  border-bottom: 1px solid #f7ae5a;
  margin-bottom: 16px;
  padding-top: 0.5em;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.markdown h3 {
  color: #092c57;
  line-height: 1;
  font-size: 1.1rem;
  margin-bottom: 5px;
  padding-top: 0.5em;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.markdown ul,
.markdown ol {
  padding: 0px 0px 0px 20px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.markdown li {
  margin-bottom: 8px;
}

.markdown a {
  color: #164fed;
  margin: 2px;
  overflow-wrap: break-word;
  padding: 0;
  line-height: 0.1px;
}

.markdown a:hover {
  color: #0842e2;
}

.footer {
  /* フッター あとでちゃんとしたのにする*/
  background-color: #2c5282;
  color: #f7fafc;
  text-align: center;
  padding: 10px;
  font-size: 0.9rem;
  bottom: 0;
  position: fixed;
  width: 100%;
}

.markdown strong {
  background-color: none;
  /* 文字を太字にする */
  font-weight: bold;
  padding: 2px;
}
